<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="locale" content="US">
    <meta name="language" content="en">
    <meta name="country" content="US">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ML Anywhere Deployment</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/styleguide.js') }}"></script>

    <script src="{{ url_for('static', filename='js/clusterOverview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mla-logging.js') }}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <div id="error-box">
        </div>


</head>

<body class="cui">


    <div class="content-fluid">
        <main>
            <header class="header header--tall">
                <div class="header-bar container">
                    <a href="javascript:;" class="header-bar__logo">
                        <span class="icon-cisco"></span>
                    </a>
                    <div class="header-bar__main">
                        <div class="header-heading">
                            <h1 class="page-title">ML Anywhere Deployment</h1>
                        </div>

                    </div>
                    <div class="header-toolbar">

                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown">
                                            <span>Logging</span>
                                    </button>
                                    <div class="dropdown__menu dropdown__menu--openleft" style="width: 600px ;height: 620px;left: 50%  ;transform: translateX(-50%) ">
                                        <div class="form-group"  style="width: 600px ;height: 620px;border:">
                                            <div class="form-group__text"  style="width: 600px ;height: 620px;border:">
                                                    <textarea id="consoleLog" rows="39" style="width: 600px ;height: 620px;border: none;overflow: scroll;outline: none;" ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </header>
            <div class="content">
                <div class="container">
                    <div class="section">
                        <div class="text-center">
                            
                            <div id="clusterButtonRow" class="row">
                                <div>Add Cluster</div>
                                <input id="uploadCluster" type="submit" class="btn btn--primary" value="Upload existing Cluster" style="right: 40px;">
                                <input id="createCluster" type="submit" class="btn btn--primary" value="Create new Cluster" style="right: 305px;">
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                {% for cluster in clusters %}
                                    <div style="border: 2px solid rgba(0,0,0,0.15);width: 100%;">
                                        <div style="float: left;line-height:50px;padding-left:25px;">
                                            {{ cluster }}
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle clusterAction" data-toggle="dropdown" href="#" style="">
                                                Action
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <a href="#">Deploy KubeFlow</a>
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer footer--basic">
                <div class="footer__links">
                    <ul class="list">
                        <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                        <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                        <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>

    <div id="jsonModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cluster Configuration</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>