<!doctype html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="locale" content="US">
            <meta name="language" content="en">
            <meta name="country" content="US">
            <meta name="HandheldFriendly" content="True">
            <meta name="MobileOptimized" content="320">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>ML Anywhere Deployment</title>
        
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            
        
            <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/styleguide.js') }}"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        
            
            <script src="{{ url_for('static', filename='js/mla-logging.js') }}"></script>
            <script src="{{ url_for('static', filename='js/postInstallation.js') }}"></script>
            <script src="{{ url_for('static', filename='js/downloadKubeconfig.js') }}"></script>
            

            
    </head>
    <body class="cui">
        <div class="content-fluid">
            <main>
                <header class="header header--tall">
                    <div class="header-bar container">
                        <a href="javascript:;" class="header-bar__logo">
                            <span class="icon-cisco"></span>
                        </a>
                        <div class="header-bar__main">
                        </div>
                        <div class="header-toolbar">
            
                                <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown">
                                                <span>Logging</span>
                                        </button>
                                        <div class="dropdown__menu dropdown__menu--openleft" style="width: 600px ;height: 620px;left: 50%  ;transform: translateX(-50%) ">
                                            <div class="form-group"  style="width: 600px ;height: 620px;border:">
                                                <div class="form-group__text"  style="width: 600px ;height: 620px;border:">
                                                        <textarea id="consoleLog" rows="39" style="width: 600px ;height: 620px;border: none;overflow: scroll;outline: none;" ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </header>

                <div class="content">
                        <div class="container">
        
                            <div class="section">
                                <div class="text-center">
        
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="ui-steps">
                                                <div class="ui-step">
                                                    <div class="step__icon">1</div>
        
                                                    <div class="step__label">Capture CCP Info</div>
                                                </div>
                                                <div class="ui-step ">
                                                    <div class="step__icon">2</div>
                                                    <div class="step__label">Launch K8 Cluster</div>
                                                </div>
                                                <div class="ui-step ">
                                                    <div class="step__icon">3</div>
                                                    <div class="step__label">Deploy KubeFlow</div>
                                                </div>
                                                <div class="ui-step active">
                                                    <div class="step__icon">4</div>
                                                       <div class="step__label">Done!</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        
                                        <p></p>
                                        <div id="alertBox"></div>

                                    </div>

                                    <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                        <h4 class="page-title">Running Post Install Check</h4>
                                                        <p></p>
                                                        <p></p>
                                                </div>
                                            </div>
                                    </div>

                                     <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                
                                                <div class="card card">
                                                        <div class="card__header">
                                                                
                                                        </div>
                                                        <div class="card__body">
                                                                <div class="container">
                                                                        <div class="row">
                                                                                <div class="col-md-7">
                                                                                    <div id="kubernetesPodAlert" >
                                                                                            <div class="alert alert--info">
                                                                                                <div class="alert__icon "></div>
                                                                                                <div class="alert__message">Checking Kubernetes pods</div>
                                                                                            </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                        <input id="viewPods" type="submit" class="btn btn--primary" value="View Pods"> 
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                        <input id="downloadKubeconfig" type="submit" class="btn btn--primary" value="Download Kubeconfig File">
                                                                                </div>
                                                                        </div>
                                                                        <div class="row">
                                                                                <div class="col-md-7">
                                                                                    <div id="ingressAlert" >
                                                                                            <div class="alert alert--info">
                                                                                                <div class="alert__icon "></div>
                                                                                                <div class="alert__message">Checking ingress deployment</div>
                                                                                            </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                        <input id="toggleIngress" type="submit" class="btn btn--primary" value="Toggle Ingress">
                                                                                </div>
                                                                               
                                                                        </div>

                                                                        <div class="row">
                                                                                <div class="col-md-7">
                                                                                    <div id="kubeflowDashboardAlert" >
                                                                                            <div class="alert alert--info">
                                                                                                <div class="alert__icon "></div>
                                                                                                <div class="alert__message">Confirming Kubeflow dashboard reachability</div>
                                                                                            </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                        <input id="kubeflowDashboard" type="submit" class="btn btn--primary" value="Kubeflow Dashboard">
                                                                                </div>
                                                                               
                                                                        </div>

                                                                        <div class="row">
                                                                                <div class="col-md-7">
                                                                                    <div id="notebookAlert" >
                                                                                            <div class="alert alert--info">
                                                                                                <div class="alert__icon "></div>
                                                                                                <div class="alert__message">Ready to create new notebook</div>
                                                                                            </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                        <input id="createNotebook" type="submit" class="btn btn--primary" value="Create Notebook">
                                                                                </div>
                                                                               
                                                                        </div>

                                                                        <div class="row">
                                                                                <div class="col-md-7">
                                                                                    <div id="notebookFileAlert" >
                                                                                            <div class="alert alert--info">
                                                                                                <div class="alert__icon "></div>
                                                                                                <div class="alert__message">Ready to upload file to Jupyter notebook</div>
                                                                                            </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                        <input id="uploadFile" type="submit" class="btn btn--primary" value="Upload File">
                                                                                        <input id="file-input" type="file" name="file-input" style="display: none;" />
                                                                                </div>
                                                                               
                                                                        </div>

  
                                                                </div>

                                                        </div>
                                                </div>
                                                        
                                            </div>
                                        </div>
                                            
                                    </div>
                                </div>

                                    <div class="row">
                                        
                                        <p></p>

                                    </div>


                                </div>
        
                            </div>
        
                        </div>
                    </div>


                <footer class="footer footer--basic">
                    <div class="footer__links">
                        <ul class="list">
                            <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                            <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                            <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                            <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
                        </ul>
                    </div>
                </footer>
            </main>
        </div>
        <div id="jsonModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog" style="    max-width: 1100px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Cluster Configuration</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                                <table id="viewModal" class="display" style="border-spacing: 50px 0; border-collapse: separate;">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Namespace</th>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
