<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="locale" content="US">
    <meta name="language" content="en">
    <meta name="country" content="US">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ML Anywhere Deployment</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/styleguide.js') }}"></script>

    <script src="{{ url_for('static', filename='js/deployKubeflow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mla-logging.js') }}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

</head>

<body class="cui">
    <div class="content-fluid">
        <main>
            <header class="header header--tall">
                <div class="header-bar container">
                    <a href="javascript:;" class="header-bar__logo">
                        <span class="icon-cisco"></span>
                    </a>
                    <div class="header-bar__main">
                        <div class="header-heading">
                            <h1 class="page-title">ML Anywhere Deployment</h1>
                        </div>

                    </div>
                    <div class="header-toolbar">

                        <div class="dropdown">
                            <button id="consoleLogButton" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span>Logging</span>
                            </button>
                            <div class="dropdown__menu dropdown__menu--openleft" style="width: 600px ;height: 620px;left: 50%  ;transform: translateX(-50%) ">
                                <div class="form-group" style="width: 600px ;height: 620px;border:">
                                    <div class="form-group__text" style="width: 600px ;height: 620px;border:">
                                        <textarea id="consoleLog" rows="39" style="width: 600px ;height: 620px;border: none;overflow: scroll;outline: none;" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="content">
                <div class="container">

                    <div class="section">
                        <div class="text-center">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ui-steps">
                                        <div class="ui-step">
                                            <div class="step__icon">1</div>

                                            <div class="step__label">Capture CCP Info</div>
                                        </div>
                                        <div class="ui-step ">
                                            <div class="step__icon">2</div>
                                            <div class="step__label">Launch K8 Cluster</div>
                                        </div>
                                        <div class="ui-step active">
                                            <div class="step__icon">3</div>
                                            <div class="step__label">Deploy KubeFlow</div>
                                        </div>
                                        <div class="ui-step">
                                            <div class="step__icon">4</div>
                                               <div class="step__label">Done!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row"><BR><BR></div>
                            <input id="deployKubeflow" type="submit" class="btn btn--primary" value="Deploy Kubeflow">

                        </div>

                    </div>

                </div>
            </div>

    </div>
    </div>
    </div>
    <footer class="footer footer--basic">
        <div class="footer__links">
            <ul class="list">
                <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
                <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li>
                <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
            </ul>
        </div>
    </footer>
    </main>
    </div>
</body>

</html>